:host {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

.header {
  grid-area: "header";
}

.body {
  grid-area: "body";
}

.footer {
  grid-area: "footer";
}